<div class="main">
 
  <h1>Hello World</h1><br><br>
  <div class="content">
    <label id="ent">Enter you name</label><br><br>
    <input type="text" placeholder="Name" style="max-width: 30%;" class="form-control" [formControl]="name"
      ><br>
    <Button (click)="toggle()" class="btn btn-danger here">Print</Button><br>
  </div>
  

  <div class="box">

  </div>
  <div class="words">
    <label> Hi welcome all</label><br>
    <label class="home">python</label><br>
    <label class="about">angular</label><br>
    <label class="contact">html</label><br>
    <label class="services">css</label><br>
    <label class="fist">scss</label><br>
  </div><br>

  <fa-icon [icon]="faBell"></fa-icon>
  <div class="pr">press bell icon</div> 
  <br><br>
  <div class="sl">Slide Your Feedback</div><br>
  <mat-slider class="sli" min="1" max="100" step="1" value="80"></mat-slider>

  <div [@triggerName]="">hi</div>;

  <nav>
    <button >Toggle Open/Close</button>
  </nav>

  <div [@openClose]="isOpen ? 'closed' : 'open'" class="open-close-container">
    <div id="names">{{wel}} </div><div class="valn"> {{nameValue}}</div><br>
  </div>
</div>